.chat {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    background-color: var(--main-white);
    text-align: center;
    position: relative;
    padding-top: 10px;
    z-index: 0;
}

.chat > :first-child {
    margin-top: auto;
}

.chat-logo-wrapper {
    position: absolute;
    height: calc(100% - 10px);
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-container {
    position: relative;
    padding: 10px;
    max-width: 75%;
    margin-top: 10px;
    align-self: end;
}
.message-container:nth-last-child(2) {
    margin-bottom: 10px;
}

.message-owner {
    background-color: var(--main-dark-red);
    text-align: right;
    align-self: flex-end;
    margin-right: 40px;
}

.message-other {
    background-color: var(--main-light-red);
    text-align: left;
    justify-self: start;
    margin-left: 40px;
}

.message-owner:after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -20px;
    top: 0px;
    bottom: auto;
    border: 22px solid;
    border-color: var(--main-dark-red) transparent transparent transparent;
}

.message-other:after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 0px;
    bottom: auto;
    border: 22px solid;
    border-color: var(--main-light-red) transparent transparent transparent;
}

.chat-no-contact-selected {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-white);
}

.chat-logo {
    position: fixed;
    max-width: 450px;
    z-index: -1;
    filter: grayscale(100%) opacity(0.2);
}
