.chat {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}

.chat > :first-child {
    margin-top: auto;
}

.message-container {
    position: relative;
    padding: 10px;
    max-width: 75%;
    margin-top: 10px;
    align-self: end;
}

.message-container:last-child {
    margin-bottom: 10px;
}

.message-owner {
    background-color: var(--main-dark-red);
    text-align: right;
    align-self: flex-end;
}

.message-other {
    background-color: var(--main-light-red);
    text-align: left;
    justify-self: start;
}

.message-owner:after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -20px;
    top: 0px;
    bottom: auto;
    border: 22px solid;
    border-color: var(--main-dark-red) transparent transparent transparent;
    z-index: -999;
}

.message-other:after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 0px;
    bottom: auto;
    border: 22px solid;
    border-color: var(--main-light-red) transparent transparent transparent;
    z-index: -999;
}

.chat-no-contact-selected {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
