.top-bar {
    display: grid;
    grid-template-columns: 25% 75%;
    height: 100%;
    width: 100%;
}

.top-bar__main {
    margin-left: 20px;
    padding-right: 20px;
    border-right: 1px solid #f8f8f83b;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar__main > div * {
    cursor: pointer;
}

.top-bar__button {
    background-color: #fff0;
    border: 0;
    color: #eee;
}

.top-bar__other-icons {
    display: inline-flex;
    justify-content: space-between;
    width: 25%;
}

.top-bar__others {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}
