.create-story-container {
    height: inherit;
    width: inherit;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-story-background {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -10;
}

.create-story__title {
    position: absolute;
    left: 2%;
    top: 3%;
    display: flex;
}

.story-create-form {
    text-align: center;
    position: relative;
    width: 100%;
}

.story-textarea {
    border: none;
    height: auto;
    border-radius: 5px;
    font-size: 1.8rem;
    resize: none;
    text-align: center;
    background: transparent;
    color: var(--main-white);
    width: 75%;
}

.story-textarea:focus {
    outline: none;
}

.story-textarea::placeholder {
    color: var(--main-black);
    font-style: italic;
    opacity: 1;
}

.story-textarea-whiteplaceholder::placeholder {
    color: var(--main-white);
}

.story-gradient-options {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    margin-bottom: 20px;
}

.gradient-option {
    height: 30px;
    width: 30px;
    display: inline-block;
    cursor: pointer;
}

.gradient-option ~ .gradient-option {
    margin-left: 10px;
}

.story-submit {
    width: 25%;
    padding: 10px;
    background-color: #123;
    color: var(--main-white);
}
