.set-profile-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--main-light-gray);
    text-align: center;
}

.set-profile-pic__outer-circle {
    border-radius: 500px;
    margin-bottom: 25px;
    max-height: 200px;
    max-width: 200px;
}

.set-profile-pic-form {
    width: 100%;
}

.file-container {
    position: relative;
    margin: 0 auto;
    width: 60%;
}

.select-image {
    width: 100%;
    height: 40px;
    font-size: 0.9rem;
    background-color: var(--main-white);
    text-transform: uppercase;
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    color: #a19c9c;
    font-weight: bold;
}

.fileup {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.set-profile-pic__picture {
}

.set-profile-pic__button {
    margin-top: 25px;
    height: 40px;
    width: 60%;
    padding: 10px;
    border: 0;
    background-color: var(--main-dark-green);
    color: var(--main-white);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
}
