.story-container {
    height: inherit;
    width: inherit;
    position: relative;
}

.story-text__message {
    color: var(--main-black);
}

.story-text__message-white {
    color: var(--main-white);
}
