.searchbox {
    background-color: var(--main-regular-gray);
    width: inherit;
    border-bottom: 1px solid #f8f8f883;
}

.searchbox__form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.searchbox__field {
    background-color: var(--main-dark-gray);
    width: 90%;
    height: 75%;
    border-radius: 50px;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
}
