.contact {
    height: 100px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    align-items: center;
    justify-content: space-around;
    transition: all 0.2s ease-in-out;
    overflow-wrap: break-word;
    background-color: #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
}

.contact__photo {
    padding-left: 20px;
}

.contact__main {
    font-size: 0.8rem;
}

.contact__message-wrapper {
    overflow-wrap: break-word;
}

.contact__message-preview {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
}

.contact:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}

.contact__other {
    font-size: 0.6rem;
}

.others {
    margin-top: 10px;
}
