.sendMessageBar {
    background-color: var(--main-regular-gray);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.sendMessageBar__field {
    width: 85%;
    height: 50%;
    border: 0;
    border-radius: 150px;
    padding-left: 5px;
    padding-right: 5px;
}

.sendMessageBar__field:focus {
    outline: 0;
}

.outer-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--main-dark-gray);
    height: 75%;
    padding: 0 20px;
    border-radius: 500px;
}

.sendMessageBar__button {
    border: 0;
    background-color: var(--main-transparent);
    color: var(--main-white);
}

.sendMessageBar__button:focus {
    outline: 0;
}
