.main-wrapper {
    position: relative;
    padding-top: 10vh;
    padding-bottom: 5vh;
    height: inherit;
}

.red-rectangle {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 60%;
    right: 0;
    background-color: var(--main-dark-red);
    z-index: -9999 !important;
}
