.story-welcome-container {
    height: inherit;
    width: inherit;
    background: var(--main-darker-red);
    background: linear-gradient(
        135deg,
        var(--main-darker-red) 0%,
        var(--main-dark-red) 100%
    );
    position: relative;
}

.carousel-background {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -10;
}

.story-title {
    position: absolute;
    left: 2%;
    top: 3%;
    display: flex;
}

.story-title__info {
    margin-left: 10px;
    text-align: left;
}

.story-timeago {
    font-size: 0.75rem;
    margin-top: -4px;
}

.story-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
}

.story-text__message {
    font-size: 3.6rem;
}

.story-welcome {
    font-size: 4.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
