.story-container {
    height: inherit;
    width: inherit;
    background: var(--main-darker-red);
    background: linear-gradient(
        135deg,
        var(--main-darker-red) 0%,
        var(--main-dark-red) 100%
    );
}

.carousel-background {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -10;
}

.carousel-title {
    position: absolute;
    left: 2%;
    top: 3%;
    display: flex;
}

.carousel-title__info {
    margin-left: 10px;
    text-align: left;
}

.carousel-title__owner {
    color: #a09b9c; /* look for a color var that fits */
}

.carousel-title__time-ago {
    color: var(--main-dark-gray);
    font-size: 0.6rem;
    margin-top: -4px;
}

.carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
}

.carousel-text__message {
    font-size: 3.6rem;
}

.story-title {
    font-size: 4.8rem;
}

/* Overriding default bootstrap styles */

.carousel {
    width: inherit;
    height: inherit;
}

.carousel-item {
    height: 100%;
}

.carousel-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    height: 100%;
}

.carousel-control-next,
.carousel-control-prev {
    top: 50%;
    bottom: 50%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 40px;
    height: 40px;
}
