.update-profile-form {
    height: 100%;
    padding-top: 20px;
    display: grid;
    grid-template-rows: 25% 50% 25%;
    background-color: var(--main-white);
}

.profile-form__title {
    font-size: 4.8rem;
    margin-left: 20px;
}
