.top-bar-container {
    background-color: #9e9e9e;
    height: 7vh;
}

.top-bar-return {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.bottom-bar {
    height: 93vh;
}

.full-height {
    height: inherit;
}
